<h1>Sign up!</h1>

<ul>
<%= form_for(@user) do |f| %>
    <li>Username: <%= f.text_field :username %></li>
    <li>Password: <%= f.password_field :password %></li>
    <li>Confirm your password: <%= f.password_field :password_confirmation %></li>
    <%= f.submit %>
<% end %>
  </ul>