<h1><%= @post.title %></h1>
<h3>by <%= @post.user.username %></h3>

<p><%= @post.content %></p>

<% if session[:user_id] == @post.user.id %>
<%= link_to "Edit this post", edit_post_path %>
<%= link_to "Delete this post", @post, { method: 'delete', data: {confirm: 'Are you sure?'} } %>
<% end %>
