<!DOCTYPE html>
<html>
  <head>
    <title>TinyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<h3>Tiny Blog</h3>

  <nav>
  <%= link_to "Home", root_path %>
  <% if logged_in? %>
  <%= link_to "Logout", logout_path, method: :post %>
  <% else %>
  <%= link_to "Log in", login_path %> or <%= link_to "Sign up", new_user_path %>
  <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
